{% extends 'starter.html' %}
{% load static %}
{% load i18n %}
    {% block the_tilte %}{% trans "忘记密码" %}{% endblock %}
    {% block my_link %}
    <!-- Font Icon -->
        <link rel="stylesheet" href="{% static 'register_form/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

        <!-- Main css -->
        <link rel="stylesheet" href="{% static 'register_form/css/style.css' %}">
    {% endblock %}
{% block content %}
    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" >
                        {% csrf_token %}
                        <h2 class="form-title">{% trans '找回密码' %}</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="username" id="username" placeholder="{% trans '用户名' %}" required />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="{% trans '邮件地址' %}" required />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree_term" id="agree_term" class="agree-term" required/>
                            <label for="agree_term" class="label-agree-term"><span><span>
                                </span></span>{% trans '我同意点达公司相关的' %}<a href="#" class="term-service text-primary">
                                {% trans '隐私权政策条款' %}</a>{% trans '愿意接受相关来自该公司的相关服务邮件' %}
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="找回密码"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        {% trans '我已经是注册用户，' %} <a href="{% url 'users:login' %} " class="loginhere-link">{% trans '登录' %}</a>
                    </p>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
{% block my_script %}
    <script src="{% static 'register_form/js/main.js' %}"></script>
{% endblock %}
<!-- This templates was made by Colorlib (https://colorlib.com) -->
