{% extends 'starter.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!--main content start-->
<div class="">
    <div class="invoice-body">
        <div class="pull-left">
          <h2>空运询价单</h2>
        </div>
        <!-- /pull-left -->
        <div class="pull-right ">
            <img src="{% static 'images/dd_logo.png' %}" alt="点达科技", width="200px" height="80px">
        </div>
        <!-- /pull-right -->
        <div class="clearfix"></div>
        <br>
        <div class="row">
            <div class="col-md-9">
                <h4>询价数据</h4>
                <address>
                    送货地：<strong>{{ input_data.port }}</strong><br>
                    目的地：<strong>{{ input_data.port }}</strong><br>
                    清关HS Codes数量： <strong>{{ air_result.hs_code_number }}</strong><br>
                    体积： <strong>{{ air_result.volume|floatformat:2 }} 立方米</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    重量： <strong>{{ air_result.weight|floatformat:2 }} 公斤</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    计费重量：<strong>{{ air_result.calc_weight|floatformat:2  }} 体积重</strong><br>
                    货品说明： <strong>{{ air_result.other_desc }}</strong><br>
                    清关说明：<strong>做PVA递延/不做PVA递延{{ air_result.total_pallets }}</strong><br>
                </address>
          </div>
          <!-- /col-md-9 -->
          <div class="col-md-3">
            <div>
                <!-- /col-md-3 -->
                <div class="pull-left"> 询价编号: </div>
                <div class="text-right">{{ air_result.quote_ref_no }}</div>
                <div class="pull-left"> 询价时间: </div>
                <div class="text-right">{{ air_result.quote_time }}</div>
                <div class="clearfix"></div>
            </div>
            <!-- /row -->
            <br>
            <div class="well well-small green">
                <div class="pull-left"> 费用总计 : </div>
                <div class="pull-right">￥{{ air_result.total_amount|floatformat:2 }}</div>
                <div class="clearfix"></div>
            </div>
          </div>
          <!-- /invoice-body -->
        </div>
        <!-- /col-lg-10 -->
        <table class="table">
          <thead>
            <tr>
              <th style="width:5%" class="text-center">序号</th>
              <th style="width:25%" class="text-left">收费项目</th>
              <th style="width:40%" class="text-left">备注说明</th>
              <th style="width:10%" class="text-left">计价单位</th>
              <th style="width:8%" class="text-right">单价</th>
              <th style="width:12%" class="text-right">金额</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td>空运费(Customs Clearance)</td>
              <td class="text-left">货品说明：{{ air_result.other_desc }}</td>
              <td class="text-left">KG</td>
              <td class="text-right">￥{{ air_result.air_price|floatformat:2 }}</td>
              <td class="text-right">￥{{ air_result.airfreight_fee|floatformat:2 }}</td>
            </tr>
            <tr>
              <td class="text-center">2</td>
              <td>国内出口报关费(Extra Codes Surcharge)</td>
              <td class="text-left">此费费用，含五个品名的费用</td>
              <td class="text-left">{{ air_result.export_custom_unit }}</td>
              <td class="text-right">￥{{ air_result.export_custom|floatformat:2 }}</td>
              <td class="text-right">￥{{ air_result.export_custom|floatformat:2 }}</td>
            </tr>
            <tr>
              <td class="text-center">3</td>
              <td>国内出口报关额外品名附加费(Extra Codes Surcharge)</td>
              <td class="text-left">从第六个品名开始计费</td>
              <td class="text-left">{{ air_result.export_custom_extra_unit }}</td>
              <td class="text-right">￥{{ air_result.export_custom_extra|floatformat:2 }}</td>
              <td class="text-right">￥{{ air_result.export_custom_extra_total|floatformat:2 }}</td>
            </tr>
            <tr>
              <td class="text-center">4</td>
              <td>目的地进口清关费(Extra Codes Surcharge)</td>
              <td class="text-left">此清关费，含五个品名的费用</td>
              <td class="text-left">{{ air_result.import_custom_unit }}</td>
              <td class="text-right">￥{{ air_result.import_custom|floatformat:2 }}</td>
              <td class="text-right">￥{{ air_result.import_custom|floatformat:2 }}</td>
            </tr>
            <tr>
              <td class="text-center">5</td>
              <td>目的地进口清关额外品名附加费(Extra Codes Surcharge)</td>
              <td class="text-left">从第六个品名开始计费</td>
              <td class="text-left">{{ air_result.import_custom_extra_unit }}</td>
              <td class="text-right">￥{{ air_result.import_custom_extra|floatformat:2 }}</td>
              <td class="text-right">￥{{ air_result.import_custom_extra_total|floatformat:2 }}</td>
            </tr>
            <tr>
              <td class="text-center">6</td>
              <td>税金代缴手续费(Use of Deferment)</td>
              <td class="text-left">税金代缴费用为应缴进口duty&VAT的2%， 最低收费 £35.00</td>
              <td class="text-left">{{ air_result.tax_unit }}</td>
              <td class="text-right">￥{{ air_result.tax_price|floatformat:2 }}</td>
              <td class="text-right">￥{{ air_result.tax|floatformat:2 }}</td>
            </tr>
            <tr>
                <td colspan="5" class="text-right no-border">
                    <div class="text-right"><strong>费用合计：</strong></div>
                </td>
              <td class="text-right"><strong>￥{{ air_result.total_amount|floatformat:2 }}</strong></td>
            </tr>
          </tbody>
        </table>
        <h4>其它条款</h4>
        <p>感谢你的支持，本报价为实时报价，价格由于变化比较快，以实际下单为准。</p>
        <br>
        <br>
        <a type="button" id="add_address" href="{% url 'airfreight:airfreight_inquire' %}" class="btn btn-primary pull-left">
            重新查询
        </a>
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                data-target="#myModal-Surcharge" style="float:left; margin-left: 10px">其它费用说明</button>
        <br>
        <br>
    </div>
    <div class="modal fade" id="myModal-Surcharge" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                {% include 'cabinet/ocean_cabinet_surcharge.html' %}
            </div>
        </div>
{% endblock %}