{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站正在建设中</title>
</head>
<body>
    <div align="center">
        <img src="{% static 'images/07.jpg' %}">
    </div>
    <div align="center">
        <img src="{% static 'images/building.jpg' %}">
    </div>
    <div align="center">
        <img class="offset-1" src="{% static 'images/company_name.png'%}">
    </div>
    <div align="center">
        <img src="{% static 'images/address.jpg' %}">
    </div>

</body>
</html>