<html>
<head>
<title>点达科技测试首页</title>
{% load static %}    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (3.jpg) -->
<table id="__01" width="1920" height="1081" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="9">
			<img src="{% static 'images/images/3_01.png' %}" width="1920" height="231" alt=""></td>
	</tr>
	<tr>
		<td rowspan="10">
			<img src="{% static 'images/images/3_02.png' %}" width="710" height="849" alt=""></td>
		<td colspan="7">
			<img src="{% static 'images/images/3_03.png' %}" width="500" height="210" alt=""></td>
		<td rowspan="10">
			<img src="{% static 'images/images/3_04.png' %}" width="710" height="849" alt=""></td>
	</tr>
	<tr>
		<td colspan="7">
			<img src="{% static 'images/images/3_05.png' %}" width="500" height="10" alt=""></td>
	</tr>
	<tr>
		<td colspan="7">
			<img src="{% static 'images/images/3_06.png' %}" width="500" height="61" alt=""></td>
	</tr>
	<tr>
		<td colspan="7">
			<img src="{% static 'images/images/3_07.png' %}" width="500" height="24" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="4">
			<img src="{% static 'images/images/3_08.png' %}" width="49" height="128" alt=""></td>
		<td>
			<a href="#"><img src="{% static 'images/images/3_09.png' %}" width="84" height="17" alt="">
			</a>
			</td>
		<td rowspan="2">
			<img src="{% static 'images/images/3_10.png' %}" width="235" height="53" alt=""></td>
		<td>
		<a href="#">
			<img src="{% static 'images/images/3_11.png' %}" width="83" height="17" alt="">
			</a>
			</td>
		<td colspan="2" rowspan="4">
			<img src="{% static 'images/images/3_12.png' %}" width="49" height="128" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{% static 'images/images/3_13.png' %}" width="84" height="36" alt=""></td>
		<td>
			<img src="{% static 'images/images/3_14.png' %}" width="83" height="36" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="{% static 'images/images/3_15.png' %}" width="402" height="61" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="{% static 'images/images/3_16.png' %}" width="402" height="14" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="{% static 'images/images/3_17.png' %}" width="39" height="416" alt=""></td>
		<td colspan="5">
			<a href="#"><img src="{% static 'images/images/3_18.png' %}" width="425" height="104" alt=""></a>
			</td>
		<td rowspan="2">
			<img src="{% static 'images/images/3_19.png' %}" width="36" height="416" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="{% static 'images/images/3_20.png' %}" width="425" height="312" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{% static 'images/images/&#x5206;&#x9694;&#x7b26;.gif' %}" width="710" height="1" alt=""></td>
		<td>
			<img src="{% static 'images/images/&#x5206;&#x9694;&#x7b26;.gif' %}" width="39" height="1" alt=""></td>
		<td>
			<img src="{% static 'images/images/&#x5206;&#x9694;&#x7b26;.gif' %}" width="10" height="1" alt=""></td>
		<td>
			<img src="{% static 'images/images/&#x5206;&#x9694;&#x7b26;.gif' %}" width="84" height="1" alt=""></td>
		<td>
			<img src="{% static 'images/images/&#x5206;&#x9694;&#x7b26;.gif' %}" width="235" height="1" alt=""></td>
		<td>
			<img src="{% static 'images/images/&#x5206;&#x9694;&#x7b26;.gif' %}" width="83" height="1" alt=""></td>
		<td>
			<img src="{% static 'images/images/&#x5206;&#x9694;&#x7b26;.gif' %}" width="13" height="1" alt=""></td>
		<td>
			<img src="{% static 'images/images/&#x5206;&#x9694;&#x7b26;.gif' %}" width="36" height="1" alt=""></td>
		<td>
			<img src="{% static 'images/images/&#x5206;&#x9694;&#x7b26;.gif' %}" width="710" height="1" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>